root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.go]
indent_style = tab

[Makefile]
indent_style = tab

[*.md]
# Markdown 里行尾两个空格是换行语义，裁掉会改变渲染结果。
trim_trailing_whitespace = false
